body {
    background: url(../img/1.png) repeat;
}

.container {
    box-shadow: 0 40px 50px rgba(0,0,0,0.3);
}

.navbar-background-color, .rodape-background {
    background-color: rgb(30, 35, 38);
}

.container-color {
    background-color: rgb(37, 42, 46);
}

.container ul li, h4 {
    padding: 15px;
}


footer p{
    padding-top: 10px;
}